.blockConvertCurrency {
    display: grid;
    grid-template-areas: 'textConvert textConvert' 'currencyUp countUp' 'currencyDown countDown';
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.textConvert {
    grid-area: textConvert;
}

.currencyUp {
    grid-area: currencyUp;
}

.countUp {
    grid-area: countUp;
}

.currencyDown {
    grid-area: currencyDown;
}

.countDown {
    grid-area: countDown;
}

.blockText {
    font: 26px a_LCDNova, TimesNewRoman, sans-serif;
    color: white;
}

.blockCurrentlyCourseText {
    cursor: pointer;
    width: 150px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border: solid 3px white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font: 26px a_LCDNova, TimesNewRoman, sans-serif;
    font-weight: bold;
    color: white;
    background: #1b1d1d;
    outline: none;
}
